* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #f4f6f8;
}
.wrapper {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 220px;
    background: #1f2937;
    color: #fff;
    padding: 20px;
}
.sidebar h2{
    font-size: 18px;
    margin-bottom: 20px;
}
.sidebar a{
    display: block;
    color: #cbd5e1;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.sidebar a:hover {
    background: #374151;
    color: #fff;
}
.content {
    flex: 1;
    padding: 30px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.card h3 {
    font-size: 14px;
    color: #6b7280;
}
.card p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.card.blue {border-left: 6px solid #3b82f6;}
.card.green {border-left: 6px solid #10b981;}
.card.orange {border-left: 6px solid #f59e0b;}
.card.red {border-left: 6px solid #ef4444;}

/* STYLE BUAT HUMBERGER */
.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
}
#sidebar {
    position: fixed;
    top: 0;
    right: -320px;
    width: 300px;
    height: 100vh;
    background: #fff;
    box-shadow: -4px 0 20px rgba(0,0,0,.1);
    transition: 0.3s ease;
    z-index: 1002;
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
}
.sidebar-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    background: #f5f5f5;
    color: #333;
}
.btn.outline {
    background: none;
    border: 1px solid #ccc;
}
.btn.danger {
    background: #ffe5e5;
    color: #c0392b;
}
#sidebar.active{
    right: 0;
}
#overlay.active {
    opacity: 1;
    visibility: visible;
}